@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Poppins:wght@200;300;400;500;600;700;800&family=Syncopate:wght@400;700&display=swap');


$bg-color: #f5f0ec;

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $bg-color;
    font-family: 'Poppins', sans-serif;
}

* {
    margin : 0 ;
    padding: 0;
    list-style: none;
}

.main-container {
    padding: 0 5vw;
}

section {
    padding: 100px 0;

    .section-header {
        margin-bottom: 50px;
    }
}

.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #191919;
    color: #dbd8d6;

    h1 {
        font-size: 1.5vw;
        text-transform: uppercase;
        font-family: 'Bai Jamjuree', sans-serif;
        font-weight: 600;
    }

    h2 {
        font-size: 1.2vw;
        text-transform: uppercase;
        font-family: 'Bodoni Moda', serif;
        font-weight: 600;
        margin-top: 10px;
        font-style: italic;
    }
}

.absolute {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 1;
}